// reporting
report {
	enabled = true
	file = "nextflow_reports/report.html"
}

timeline {
	enabled = true
	file = "nextflow_reports/timeline.html"
}

trace {
    enabled = true
    file = "nextflow_reports/trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,submit,start,complete,duration,realtime,%cpu,rss,vmem,rchar,wchar'
    raw = true
}


// profiles
profiles {

    ophelia {
        //executor and container
        process.executor = 'local'
        process.container = 'singularity/hash-cgmlst.img'
        singularity.enabled = true
        singularity.autoMounts = true
        
        //work directory 
		workDir = "/mnt/data/work"
        
        //per process resources and error strategy
        process {
        	//default
        	cpus = 1
        	memory = 10.5GB
        	//errorStrategy { task.attempt<2 ? 'retry' : 'ignore'}
        	errorStrategy = 'ignore'
    	}
    }
	
    cluster {
        //executor and container
    	process.executor = 'sge'
        process.container = "singularity/hash-cgmlst.img"
        executor.queueSize = 1000
        singularity.enabled = true
        singularity.autoMounts = true
        process.queue = 'short.qc'
        clusterOptions = '-P bag.prjc'
        
        //work directory 
		workDir = "work"
        
        //per process resources and error strategy
        process {
        	//default
        	cpus = 1
        	memory = 16.GB
        	//errorStrategy { task.attempt<2 ? 'retry' : 'ignore'}
        	module 'python/3.4.3'
        	errorStrategy = 'ignore'
        }
    }
}

// description
manifest {
    homePage = 'https://github.com/davideyre/hash-cgmlst'
    description = 'Pipeline for hash-based core-genome MLST on bacterial sequencing data'
    mainScript = 'hash-cgmlst.nf'
    version = '0.1'
}

